<a href="https://colab.research.google.com/github/epicalekspwner/OpenDataCustomerAnalytics/blob/main/equidsData/equidsCensus/source/srcPreProcessing_equidsCensus.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![OpenDataBanner](https://raw.githubusercontent.com/epicalekspwner/OpenDataCustomerAnalytics/main/_repoResources/bannerOpenDataCustomerAnalytics.svg)

In [1]:
### Import Required Libraries
import numpy as np
import pandas as pd

In [2]:
### Import df
df = pd.read_csv('/content/drive/MyDrive/Open Data/equids-canton.csv', sep = ',')

In [3]:
### Drop Depreciated Column
df.drop(['Month'], axis = 1, inplace = True)

In [4]:
### Rename Column
df = df.rename(columns = {
    '??': 'NaN',
})

In [5]:
### Compute Average per Year/Canton
df = df.groupby(['Year']).mean().round(0).astype(int)

In [6]:
### Compute National Census
df['CH'] = df.sum(axis=1).astype(int)

In [7]:
### Visualize DataFrame
df

,AG,AI,AR,BE,BL,BS,FR,GE,GL,GR,...,SZ,TG,TI,UR,VD,VS,ZG,ZH,NaN,CH
Year,,,,,,,,,,,,,,,,,,,,,
2016,8909,223,707,19571,2660,90,6527,2042,408,4807,...,1645,5724,2729,169,9224,3990,1123,11977,354,109047
2017,8991,215,676,19806,2725,87,6754,2103,404,4866,...,1699,5925,2894,170,9864,4160,1160,12234,218,111333
2018,9027,208,690,20171,2677,80,6910,2132,414,4928,...,1703,6006,2987,171,9860,4259,1179,12268,137,112442
2019,9000,186,716,20341,2705,85,6868,2152,427,4922,...,1670,6009,3079,172,9767,4308,1134,12351,113,112626
2020,9049,176,715,20301,2777,87,6813,2154,405,4973,...,1651,6000,3188,175,9657,4345,1156,12392,85,112530
2021,9120,179,717,20266,2822,86,6846,2148,394,4983,...,1643,6012,3246,185,9700,4391,1212,12442,78,112913
2022,9117,184,698,20284,2889,88,6956,2161,400,4958,...,1677,6044,3318,193,9711,4477,1195,12425,85,113404

In [8]:
### Export DataFrame
df.to_csv('/content/drive/MyDrive/Open Data/equidsCensus.csv', index = False)