<a href="https://colab.research.google.com/github/epicalekspwner/OpenDataCustomerAnalytics/blob/main/equidsData/equidsExport/source/srcPreProcessing_equidsExport.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![OpenDataBanner](https://raw.githubusercontent.com/epicalekspwner/OpenDataCustomerAnalytics/main/_repoResources/bannerOpenDataCustomerAnalytics.svg)

In [1]:
### Import Required Libraries
import numpy as np
import pandas as pd

In [2]:
### Import df
df = pd.read_csv('/content/drive/MyDrive/Open Data/equids-exportCanton.csv', sep = ',')

In [3]:
### Drop Depreciated Column
df.drop(['Month'], axis = 1, inplace = True)

In [4]:
### Rename Column
df = df.rename(columns = {
    '??': 'NaN',
})

In [5]:
### Compute Sum per Year/Canton
df = df.groupby(['Year']).sum().round(0).astype(int)

In [6]:
### Compute National Census
df['CH'] = df.sum(axis=1).astype(int)

In [7]:
### Visualize DataFrame
df

,AG,AI,AR,BE,BL,BS,FL,FR,GE,GL,...,SO,SZ,TG,TI,VD,VS,ZG,ZH,NaN,CH
Year,,,,,,,,,,,,,,,,,,,,,
2016,0,5,0,32,0,0,0,0,0,0,...,0,0,0,0,13,0,0,0,819,891
2017,48,0,7,156,5,0,0,50,0,0,...,34,0,14,0,74,0,0,61,374,961
2018,38,0,0,131,0,0,5,31,37,0,...,14,0,17,7,76,0,0,82,442,984
2019,46,0,0,125,0,0,0,63,13,0,...,11,0,23,7,158,25,0,58,362,1056
2020,37,0,0,185,0,0,0,50,26,0,...,17,0,32,0,57,19,0,84,347,1049
2021,61,0,0,155,0,0,0,31,46,0,...,27,0,13,12,77,16,0,88,357,1120
2022,52,0,0,114,6,0,0,23,5,0,...,35,0,33,18,27,14,0,88,188,741

In [8]:
### Export DataFrame
df.to_csv('/content/drive/MyDrive/Open Data/equidsExport.csv', index = False)